.qrcode-address-form {
  display: flex;
  gap: 2rem;

  &__input {
    height: 3.8rem;
    width: 100%;
    padding-inline: 1rem;

    border-radius: 2.7rem;
    border: none;

    background-color: #edefef;

    &:focus {
      outline-color: #00BFFF;
    }
  }

  &__button {
    border-radius: 2.7rem;
    border: none;

    background-color: #00BFFF;
    color: #fff;

    height: 3.8rem;
    min-width: 120px;

    cursor: pointer;
  }
}